@import url('https://fonts.cdnfonts.com/css/amazon-ember');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amazon Ember', sans-serif;
}

header{
    width: 100%;
    background-color:  #131921;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

h2{
    background-color: #232F3E;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.logo-img{
    width: 50px;
    height: 100px;
    border-radius: 25px;
    padding: 20px 0;
}

.container-logo{
    display: flex;
    align-items: center;
}

.logo-texto{
    margin-left: 20px;
    color: white;
}

.menu li{
    display: inline-block;
    margin: 0 10px;
}

.menu li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;}

.menu li a:hover{
    background-color: black;
    color: white;
}

.catalogo{
    

}

#produtos {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    
}

.produto-single{
    
    width: 32%;
    margin-right: 1%;
    margin-top: 100px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid rgb(238, 238, 238);
}

.produto-single p{
   display: block;
   text-align: left;
    color: #2E1111;
   padding-top: 20px;
   margin: 15px;
   height: 5em;
}

.produto-single a{
    text-decoration: none;
    color: black;
    background-color: #FFA41C;
    text-align: center;
    display: block;
    padding: 4px 0;
    font-size: 18px;
    border-radius: 20px;
    
}
.card-img{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 223px;
    height: 223px;
    margin: 0 auto;

}



.img-site{
    max-width: 100%;
    max-height: 100%;
   
    
}

.acesse-aqui{
    font-weight: bold;


}

.promo{
    text-align: center;
    margin-top: 80px;
  
}

.card-prime{
    
    position: relative;
    display: inline-block;
    width: 100%;
}
  

.img-prime{
    max-width: 100%;
}

.card-prime h1{
    position: absolute;
    font-size: 30px;
    top: 50px;
    padding: 20px;
    width: 600px;
    text-align: left;
    color: white;

}

.card-prime a{
    position: absolute;
    left: 100px;
    bottom: 300px;
    text-decoration: none;
    background-color: #FFA41C;
    color:black ;
    padding: 20px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
}


footer{
background-color: #232F3E;
text-align: center;
color: white;
padding: 20px;
}

footer h2{
    font-size: 15px;

}



@media screen and (max-width: 768px){
    .produto-single{
        width: 100%;
        margin-right: 0;
    
    }
    .img-prime{
        width: 100%;
        height: 100%;

    }
    *{
        max-width: 100%;
    }
}